This Project uses 1 csv files downloaded from IEEE.org and consists of > 7,00,000 tweets

# Glimpses of the dataset

In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
csv_1 = pd.read_csv("DataSet-MajorProject/corona_tweets_01.csv")

In [4]:
#  Sample Converting tweet ID to time and date

In [5]:
tweet_id = 1241032864130650113
shifted_id = tweet_id >> 22 #applying right shift operator to the tweet ID
timestamp = shifted_id + 1288834974657 
data_time = time.ctime(timestamp/1000)
print(data_time)

Fri Mar 20 21:34:26 2020

In [6]:
# Hydrating tweets Converting tweetId to Text and Store it in a Database

In [45]:
Dataset = pd.read_csv("DataSet-MajorProject/Dataset-PreProcessed -TweetIDfinaldone.csv")
Dataset

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Thu Mar 19 19:52:18 +0000 2020,NaN,NaN,NaN,0,1240727821028405249,NaN,NaN,NaN,...,2557,2137,13,"London, England",Mrs Yich L√©ora Scott ‚ô° üá∏üá±,LeoraLeone,106750,NaN,https://m.youtube.com/channel/UC7gVsVGaIGefn1b...,False
1,NaN,Thu Mar 19 19:52:17 +0000 2020,NaN,NaN,NaN,0,1240727817555447808,NaN,NaN,NaN,...,1455,1525,0,Close to America,üÖëüÖõüÖêüÖíüÖö üÖúüÖêüÖ°üÖòüÖû,kal_me_mario,18021,NaN,NaN,False
2,NaN,Thu Mar 19 19:52:18 +0000 2020,NaN,https://twitter.com/chandlerriggs/status/12406...,NaN,0,1240727819119968256,NaN,NaN,NaN,...,13,152,0,NaN,Ann Figueroa,bakadan1289,677,NaN,NaN,False
3,NaN,Thu Mar 19 19:52:15 +0000 2020,NaN,NaN,NaN,0,1240727808617230336,NaN,NaN,NaN,...,387,2092,9,"Sydney, New South Wales",WWP,waterworldplumb,21879,NaN,NaN,False
4,NaN,Thu Mar 19 19:52:16 +0000 2020,NaN,NaN,NaN,0,1240727810567737345,NaN,NaN,NaN,...,48855,4585,75,NaN,üëëRoyalty Promos 51k #EFDPüëë,Royalty_Promos,382215,NaN,http://mistressbitchin.com/,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30926,NaN,Thu Mar 19 20:16:59 +0000 2020,NaN,NaN,NaN,0,1240734032570146817,NaN,NaN,NaN,...,529,499,1,eug,jas,JasmineArment,16947,NaN,NaN,False
30927,NaN,Thu Mar 19 20:16:58 +0000 2020,NaN,NaN,NaN,0,1240734028631871489,NaN,NaN,NaN,...,206,592,3,Buffalo,Generational Username,tjqhockey,56078,NaN,NaN,False
30928,NaN,Thu Mar 19 20:17:01 +0000 2020,NaN,NaN,NaN,0,1240734038131761152,NaN,NaN,NaN,...,1386,2281,1,USAüòç,Social Justice Warrior,TaffetaDarling2,17100,NaN,NaN,False
30929,NaN,Thu Mar 19 20:17:00 +0000 2020,NaN,NaN,NaN,1,1240734036710109184,NaN,NaN,NaN,...,38,154,0,NaN,Sharon üåïüíì,charilain,1475,NaN,NaN,False
30930,NaN,Thu Mar 19 20:17:00 +0000 2020,NaN,NaN,NaN,0,1240734034893975564,NaN,NaN,NaN,...,122,420,0,"Kampala, Uganda",Prinahhhüåô,prinah_patricia,1087,NaN,NaN,False

In [ ]:
#Create a Seperate file for tweet_id , corresponding tweet , GeoLocation , user_verified

In [10]:
df = pd.DataFrame(Dataset)

In [11]:
df.columns

Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_screen_name', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name.1',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified'],
      dtype='object')

In [13]:
created = df['created_at']
texts = df['text']
location = df['user_location']
verified = df['user_verified']

In [15]:
fields = [created , texts , location , verified]

In [24]:
fields[2]

0                London, England
1               Close to America
2                            NaN
3        Sydney, New South Wales
4                            NaN
                  ...
30926                        eug
30927                    Buffalo
30928                       USAüòç
30929                        NaN
30930            Kampala, Uganda
Name: user_location, Length: 30931, dtype: object

In [37]:
d = {'User-Created':fields[0],'Tweet':fields[1],'Geo-location':fields[2],'verified':fields[3]}

In [38]:
dfq=pd.DataFrame(d)

In [39]:
dfq

,User-Created,Tweet,Geo-location,verified
0,Thu Mar 19 19:52:18 +0000 2020,RT @ebs_the_great: A lot of you would actually...,"London, England",False
1,Thu Mar 19 19:52:17 +0000 2020,RT @iam_erhnehst: Everything was fine in the w...,Close to America,False
2,Thu Mar 19 19:52:18 +0000 2020,RT @chandlerriggs: here‚Äôs a deleted scene from...,NaN,False
3,Thu Mar 19 19:52:15 +0000 2020,RT @RealSaavedra: Good.\n\nIt came from China.,"Sydney, New South Wales",False
4,Thu Mar 19 19:52:16 +0000 2020,RT @TattooedFemdom: My dick is Bigger than Cor...,NaN,False
...,...,...,...,...
30926,Thu Mar 19 20:16:59 +0000 2020,RT @d_psycho_guru: I just tested positive to t...,eug,False
30927,Thu Mar 19 20:16:58 +0000 2020,RT @Xhakaed: Corona is a timely reminder of ho...,Buffalo,False
30928,Thu Mar 19 20:17:01 +0000 2020,RT @psychdr100: Confirmed Corona virus cases i...,USAüòç,False
30929,Thu Mar 19 20:17:00 +0000 2020,It REALLY is not hard to talk about Corona wit...,NaN,False
30930,Thu Mar 19 20:17:00 +0000 2020,"RT @MABIN2_: Corona please. We are tired, we g...","Kampala, Uganda",False

In [40]:
# Save this DataFrame
dfq.to_csv('DataSet-MajorProject/FinalCleanedDB')

In [41]:
# Dataset

In [42]:
DB = pd.read_csv("DataSet-MajorProject/FinalCleanedDB")

In [44]:
DB

,Unnamed: 0,User-Created,Tweet,Geo-location,verified
0,0,Thu Mar 19 19:52:18 +0000 2020,RT @ebs_the_great: A lot of you would actually...,"London, England",False
1,1,Thu Mar 19 19:52:17 +0000 2020,RT @iam_erhnehst: Everything was fine in the w...,Close to America,False
2,2,Thu Mar 19 19:52:18 +0000 2020,RT @chandlerriggs: here‚Äôs a deleted scene from...,NaN,False
3,3,Thu Mar 19 19:52:15 +0000 2020,RT @RealSaavedra: Good.\n\nIt came from China.,"Sydney, New South Wales",False
4,4,Thu Mar 19 19:52:16 +0000 2020,RT @TattooedFemdom: My dick is Bigger than Cor...,NaN,False
...,...,...,...,...,...
30926,30926,Thu Mar 19 20:16:59 +0000 2020,RT @d_psycho_guru: I just tested positive to t...,eug,False
30927,30927,Thu Mar 19 20:16:58 +0000 2020,RT @Xhakaed: Corona is a timely reminder of ho...,Buffalo,False
30928,30928,Thu Mar 19 20:17:01 +0000 2020,RT @psychdr100: Confirmed Corona virus cases i...,USAüòç,False
30929,30929,Thu Mar 19 20:17:00 +0000 2020,It REALLY is not hard to talk about Corona wit...,NaN,False
30930,30930,Thu Mar 19 20:17:00 +0000 2020,"RT @MABIN2_: Corona please. We are tired, we g...","Kampala, Uganda",False